<div class="np-layout-content np-padding-bottom-32" #contactContainer>
    <div class="np-container-large">
        <div class="np-shadow-card">
            <div class="contact">
                <div class="contact-form np-color-white">

                    <div class="np-flex-wrapper np-flex-row">
                        <mdl-textfield type="text" label="Name..." pattern="-?[0-9]*(\.[0-9]+)?" error-msg="Input is not a name!" [(ngModel)]="text4"
                            floating-label></mdl-textfield>

                        <!--div class="mdl-cell mdl-cell--6-col">
                            <mdl-textfield type="text" label="Mobile (optional)..." pattern="-?[0-9]*(\.[0-9]+)?" error-msg="Input is not a number!"
                                [(ngModel)]="text4" floating-label></mdl-textfield>
                        </div-->
                        <mdl-textfield type="text" label="Email..." pattern="-?[0-9]*(\.[0-9]+)?" error-msg="Input is not an Email!" [(ngModel)]="text4"
                            floating-label></mdl-textfield>

                        <!--div class="mdl-cell mdl-cell--6-col">
                            <mdl-textfield type="text" label="Company Name..." pattern="-?[0-9]*(\.[0-9]+)?" error-msg="Input is not an Email!" [(ngModel)]="text4"
                                floating-label></mdl-textfield>
                        </div-->
                        <mdl-textfield label="Message..." [(ngModel)]="text4" rows="3" maxrows="3" floating-label></mdl-textfield>

                    </div>
                    <mdl-layout-spacer></mdl-layout-spacer>
                    <div class="contact-form-submit  np-flex-row np-flex-wrapper np-padding-left-16">
                        <h4 class="np-font-comfortaa np-font-14 np-font-light np-align-vertical-middle">(We will connect back in 1 working day.)</h4>
                        <button mdl-button mdl-button-type="mini-fab" type="submit" class="btn btn-success" mdl-colored="primary"><mdl-icon class="np-font-14">send</mdl-icon></button>
                    </div>
                </div>
            </div>
        </div>


        <div class="np-margin-20">

        </div>

        <div class="np-padding-20 np-color-primary">

            <div class="product-link">
                <div class="google-play np-display-table np-text-color-primary-light" mdl-ripple>

                    <div class="google-play-inner np-display-table-cell">
                        <span><img src="assets/img/google-play-white.png"/>
                    <span class="np-margin-left-12 np-font-comfortaa np-font-12 np-font-bold">Play Store</span></span>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>