
.top-wall{

    padding-top: 64px;


    h4,h6,p{
         margin: 0px;
          line-height: 1.3;
    }
    h4{
          font-size: 20px;
      }   
      h6{
          font-size: 16px;
      } 

    .wall-frame{
                flex-direction: column;
    }
    .wall-text{
            display: block;
    }
}




@media screen and (min-width:660px){
    .top-wall{
        padding-bottom: 64px;
        background-image: linear-gradient(to right, transparent 20%, rgba(28, 190, 131, 1) 20%, rgba(28, 190, 131, 1) 60%,  transparent 60%);
        background-position: 100% 100%;
        background-size: 250% 100%;
        transition: background-position 1.4s ease .1s;


        &:hover{
            background-position: 0% 100%;
            .wall-text{
                animation-name: fadeInUpY;
                animation-delay: 1.4s;
                animation-duration: 0.5s;
                animation-fill-mode: both;
            }
        }

        .wall-frame{
            flex-direction: row;
            .wall-tag-inner{
                padding: 20px;
            }
        }

        .wall-text{
            opacity: 0;
                
        }

        .wall-tag{
            flex-basis: 50%;
        }
        .wall-info{
            flex-basis: 50%;
        }
    }

}

@media screen and (max-width:660px){
     .top-wall{
          background-image: linear-gradient(to right, rgba(28, 190, 131, 1) 50%, rgba(28, 190, 131, 1) 50%);
        background-position: 100% 100%;
        background-size: 100% 100%;
        transition: background-position 1.4s ease .1s;
        color: white;

        .wall-tag{
            .wall-tag-inner{
                padding: 16px 16px 0px 16px;
            }
            
           
        }

        h6{
            font-size: 14px;

        }
        h4{
            font-size: 18px;
        }

        .wall-text{
            animation-name: fadeInUpY;
            animation-delay: 1.4s;
            animation-duration: 0.5s;
            animation-fill-mode: both;
        }
    }
}


@keyframes fadeInUpY{
    0%{
        opacity: 0;
        transform: translateY(50%);

    }
    100%{
        opacity: 1;
        transform: none;
    }

}


.btn-dawnload-portfolio{
    border: 1px solid white;

}