.contact{
}

.contact-form{
    padding: 24px;
    .heading{
        h4{
            margin: 0;
        }
    }

    .contact-form-submit{
        
    }
}

.contact-me{
    padding: 24px;
    .heading{
        h4{
            margin: 0;
        }
    }
    .info{
        ul{
            margin: 0;
        }
        ul>li{
            min-height: 48px;
            mdl-icon{
                    font-size: 16px;   
            }
            button{
                text-transform: none;
            }
        }
    }

    .contact-social{
        h4{
            margin: 0;
        }

        .social {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: center; 

            li {
                display: inline-block;
                margin: 5px auto; 

                button .socialicon{
                    font-size: 12px;
                    display: block;
                }
            }
        }
    }
    
}

@media screen and (min-width: 660px) {
    
.contact{
 flex-flow: row nowrap;

}

.contact-form{
    
    min-width: 300px;
}
    .contact-me{
        min-width: 232px;

    }
}
@media screen and (max-width: 660px) {
    .contact{
        flex-flow: row wrap;
    }
    .contact-me{
        padding: 20px;
        flex-grow: 1;
        order:0;
    }

    .contact-form{
        //order: 1;
        padding: 20px;
    }
}

.google-play{
    position: relative;
    cursor: pointer;
    width: 100%; 
    overflow: hidden;
    top: 0;
    //min-height: 40px;
    left: 0;
    user-select: none;
    text-align: center;
    background: rgba(0, 0, 0, .1);
    
    .google-play-inner{
        line-height: 0;
        vertical-align: middle;
        padding: 4px 12px;
    }
    

    img{
        height: 24px;
        width: auto;
    }
}