<div class="np-layout-content">
    <div class="profile-card" mdl-shadow="2">

        <div class="mdl-grid profile-card-content">
            <div class="mdl-cell mdl-cell--3-col-tablet mdl-cell--4-col profile-photo">
                <img src="assets/img/avatar.jpg">
            </div>
            <div class="mdl-cell mdl-cell--5-col-tablet mdl-cell--8-col">
                <div class="profile-info text-color-default">
                    <h4 class="font-comfortaa font-bolder text-shadow">Hey!</h4>
                    <h4 class="font-comfortaa font-bolder text-shadow"><span class="font-light">I'm </span>Niraj Prakash</h4>
                    <!--h6 class="font-open-sans text-shadow"> App &amp; web developer</h6-->
                    <h6 class="font-open-sans font-bold font-10">Android &middot; Website &middot; Server</h6>
                </div>

                <div class="profile-detail">
                    <p><span class="icon"><i class="material-icons color-red">email</i></span><span class="content">nirajprakash13@gmail.com</span></p>
                    <p><span class="icon"><i class="material-icons color-blue">location_on</i></span><span class="content">Koramangala, Bangalore, India</span></p>
                    <!--ul>
                        <li>
                            <span class="title"><i class="material-icons">email</i></span>
                            <span class="content">nirajprakash13@gmail.com</span>
                        </li>
                        <li>
                            <span class="title"><i class="material-icons">phone</i></span>
                            <span class="content">+91 8217 862 643</span>
                        </li>
                        <li>
                            <span class="title"><i class="material-icons">location_on</i></span>
                            <span class="content">Koramangala, Bangalore, India</span>
                        </li>
                    </ul-->
                </div>
            </div>
        </div>
        <div class="profile-bottom np-layout-primary">
            <ul class="social">
                <li>
                    <button mdl-button mdl-button-type="icon">
                        <i class="icon-github-circled socialicon white"></i>
                    </button>
                </li>
                <li>
                    <button mdl-button mdl-button-type="icon">
                        <i class="icon-bitbucket socialicon white"></i>
                    </button>
                </li>
                <li>
                    <button mdl-button mdl-button-type="icon">
                        <i class="icon-linkedin socialicon white"></i>
                    </button>
                </li>
                <li>
                    <button mdl-button mdl-button-type="icon">
                        <i class="icon-instagram socialicon white"></i>
                    </button>
                </li>
                <li>
                    <button mdl-button mdl-button-type="icon">
                        <i class="icon-behance socialicon white"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="np-padding-v-8 np-margin-top-32">
        <div class="profile-sub-card" mdl-shadow="2">

            <div class="profile-action font-open-sans">
                <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
    <span class="font-open-sans font-12">See Portfolio</span>
  </button>

                <button mdl-button mdl-colored="primary" mdl-ripple>
    <span class="font-open-sans font-12 font-bold">Download CV</span>
  </button>
            </div>
            <p class="font-open-sans font-14">Hello! I’m Robert Smith. Senior Web Developer specializing in front end development. Experienced with all stages
                of the development cycle for dynamic web projects. Well-versed in numerous programming languages including
                JavaScript, SQL, and C. Stng background in project management and customer relations.</p>

        </div>
    </div>
</div>