body .demo-blog {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.profile-card {
  max-width: 900px;
  padding: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}
.profile-card  img{
  max-width: 100%;

}

