<div class="np-layout-content">
    <div class="profile-card container" mdl-shadow="2">
        
        <div class="mdl-grid profile-card-content">
            <div class="mdl-cell mdl-cell--3-col-tablet">
                <img src="assets/img/avatar.jpg">
            </div>
            <div class="mdl-cell mdl-cell--5-col-tablet">
                <mdl-card>
                </mdl-card>
            </div>
        </div>
        <div class="profile-bottom np-layout-primary">
            <ul class="social">
                <li>
                   <button mdl-button mdl-button-type="icon">
                        <i class="icon-github-circled socialicon white"></i>
                    </button>
                </li>
                 <li>
                    <button mdl-button mdl-button-type="icon">
                        <i class="icon-bitbucket socialicon white"></i>
                    </button>
                </li>
                 <li>
                   <button mdl-button mdl-button-type="icon">
                        <i class="icon-linkedin socialicon white"></i>
                    </button>
                </li>
                 <li>
                   <button mdl-button mdl-button-type="icon">
                        <i class="icon-instagram socialicon white"></i>
                    </button>
                </li>
                 <li>
                   <button mdl-button mdl-button-type="icon">
                        <i class="icon-behance socialicon white"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>