body .demo-blog {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.profile-card {
  max-width: 900px;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

/*

.profile-card  img{
  max-width: 100%;

}
*/

.profile-card{

  .profile-card-content{
    padding: 57px 50px 15px 50px;
  }
  .profile-photo {
      padding-right: 5%;
      margin-bottom: 10px;
  }

  .profile-photo img{
    width: 100%;
    display: block;
  }

  .profile-info{
    h4,h6{
      margin: 0;
      line-height: 1.1;
    }
  }
}


@media (max-width: 992px) {
  .profile-card-content {
    padding: 50px 40px 15px 40px; 
  }
  .profile-card .profile-photo {
    padding-right: 0;
    margin-bottom: 30px; 
  } 
}
@media (max-width: 767px) {
  .section-about {
    padding-top: 0; 
  }
  .profile-card-content {
      padding: 30px 20px 15px 20px; 
  }
}


/**.profile-card-content{
  width: 100%;
}

.profile-card .profile-bottom{
  width: 100%;

}
/**
.profile-card .social{
  list-style: none;
  float: left;
  padding: 0;

  
}

.profile-card .social li{
  list-style: none;
  float: left;

}

*/
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; 
  }
  
.social li {
    display: inline-block;
    margin: 5px 15px; 
}

.social li button .socialicon{
        font-size: 20px;
        display: block;
}

.social li button {
      width: 45px;
      height: 45px;
}

 @media (max-width: 767px) {
  .social li {
    margin-left: 5px;
    margin-right: 5px; 
  }
  .social li button {
      width: 35px;
      height: 35px; 
  }
  /*
  .social li a, .social li a .socialicon {
        line-height: 35px; 
  }
  */
  .social li button .socialicon {
        font-size: 17px; 
  } 
}

/**
 * 6.3 - Social
 */
/*
.social li a {
      width: 45px;
      height: 45px;
      position: relative;
      display: inline-block;
      background-color: transparent;
      -webkit-transition: -webkit-transition, background-color 0.25s linear 0s;
      -moz-transition: -moz-transition, background-color 0.25s linear 0s;
      transition: transition, background-color 0.25s linear 0s;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
      .social li a:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.1); }
      .social li a, .social li a .socialicon {
        line-height: 45; }
      .social li a .socialicon {
        color: #fff;
        font-size: 20px;
        line-height: 45px;
        display: block; }

@media (max-width: 767px) {
  .social li {
    margin-left: 5px;
    margin-right: 5px; }
    .social li a {
      width: 35px;
      height: 35px; }
      .social li a, .social li a .socialicon {
        line-height: 35px; }
      .social li a .socialicon {
        font-size: 17px; } }
        */

