<div class="profile-bottom np-layout-primary">
  <mdl-layout-spacer></mdl-layout-spacer>
  <div>
    <ul class="social">
      <li>
        <button mdl-button mdl-button-type="icon">
                        <i class="icon-github-circled socialicon white"></i>
                    </button>
      </li>
      <li>
        <button mdl-button mdl-button-type="icon">
                        <i class="icon-bitbucket socialicon white"></i>
                    </button>
      </li>
      <li>
        <button mdl-button mdl-button-type="icon">
                        <i class="icon-linkedin socialicon white"></i>
                    </button>
      </li>
      <li>
        <button mdl-button mdl-button-type="icon">
                        <i class="icon-instagram socialicon white"></i>
                    </button>
      </li>
      <li>
        <button mdl-button mdl-button-type="icon">
                        <i class="icon-behance socialicon white"></i>
                    </button>
      </li>
    </ul>
  </div>
</div>

<!--div class="mdl-color--grey-800">
  <footer class="mdl-mini-footer">
  
  <div class="mdl-mini-footer__left-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

  </div>
  <div class="mdl-mini-footer__right-section">
    <ul class="social">
      <li>
        <button mdl-button mdl-button-type="icon">
                        <i class="icon-github-circled socialicon white"></i>
                    </button>
      </li>
      <li>
        <button mdl-button mdl-button-type="icon">
                        <i class="icon-bitbucket socialicon white"></i>
                    </button>
      </li>
      <li>
        <button mdl-button mdl-button-type="icon">
                        <i class="icon-linkedin socialicon white"></i>
                    </button>
      </li>
      <li>
        <button mdl-button mdl-button-type="icon">
                        <i class="icon-instagram socialicon white"></i>
                    </button>
      </li>
    </ul>
  </div>
</footer>
</div-->

<footer class="mdl-color--white">
<div class="footer-content np-flex-container ">
<div class="footer-left-section">
    <ul class="footer-link-list font-comfortaa">
      <li><a>About</a></li>
      <li><a>|</a></li>
      <li><a>Contact</a></li>
    </ul>

  </div>

  <div class="footer-right-section">
    <ul class="social">
      <li>
        <button mdl-button mdl-button-type="icon">
                        <i class="icon-github-circled socialicon np-text-color-gethub"></i>
                    </button>
      </li>
      <li>
        <button  mdl-button mdl-button-type="icon">
                        <i class="icon-bitbucket socialicon np-text-color-bitbucket"></i>
                    </button>
      </li>
      <li>
        <button mdl-button mdl-button-type="icon">
                        <i class="icon-linkedin socialicon np-text-color-linkedin"></i>
                    </button>
      </li>
      <li>
        <button mdl-button mdl-button-type="icon">
                        <i class="icon-instagram socialicon np-text-color-instagram"></i>
                    </button>
      </li>
    </ul>
  </div>
</div>
</footer>