<div class="technology np-color-grey">
  <div class="title">
    <h6 class="np-font-comfortaa np-text-shadow np-text-color-dark"><span class="np-underline-small-primary">Technologies</span></h6>
  </div>


<mdl-tabs mdl-ripple mdl-tab-active-index="0">
  <mdl-tab-panel>
    <mdl-tab-panel-title class="np-font-comfortaa np-font-bold np-font-12">
      Android/Front End
    </mdl-tab-panel-title>
    <mdl-tab-panel-content>
      Panel Content 1
    </mdl-tab-panel-content>
  </mdl-tab-panel>
  <mdl-tab-panel >
    <mdl-tab-panel-title class="np-font-comfortaa np-font-bold np-font-12">
      Back End/Services
    </mdl-tab-panel-title>
    <mdl-tab-panel-content>
      Panel Content 2
    </mdl-tab-panel-content>
  </mdl-tab-panel>
  <mdl-tab-panel >
    <mdl-tab-panel-title class="np-font-comfortaa np-font-bold np-font-12">
      Design
    </mdl-tab-panel-title>
    <mdl-tab-panel-content>
      Panel Content 2
    </mdl-tab-panel-content>
  </mdl-tab-panel>
</mdl-tabs>

  
  <div class="np-container np-padding-bottom-32">
    <div class="mdl-grid">

      <div class="technology-list-item mdl-cell mdl-cell--4-col-tablet mdl-cell--4-col">
        <div class="technology-block np-text-color-default">
          <!--h4 class="np-font-comfortaa np-font-bolder np-text-shadow">Hey!</h4-->
           <div class="technology-logo-container"><img class="technology-logo" src="assets/img/angular.png"> </div>
          <h6 class="np-font-comfortaa np-text-color-primary">
            <!--span class="np-font-light">I'm </span-->Angular</h6>
          <p class="np-font-open-sans">Framework for Webdsdssd dsds dw d wd </p>
          <button mdl-button mdl-button-type="icon" mdl-colored="primary"><mdl-icon>trending_flat</mdl-icon></button>
        </div>
      </div>

      <div class="service-list-item mdl-cell mdl-cell--4-col-tablet mdl-cell--4-col">
        <div class="technology-block np-text-color-default np-color-white" mdl-shadow="2">
          <!--h4 class="np-font-comfortaa np-font-bolder np-text-shadow">Hey!</h4-->
          <span class="technology-logo"><i class="icon-code socialicon np-text-color-dark np-text-shadow"></i></span>
          <h6 class="np-font-comfortaa">
            <!--span class="np-font-light">I'm </span-->Web Development</h6>
          <!--h6 class="np-font-open-sans np-text-shadow"> App &amp; web developer</h6-->
          <button mdl-button mdl-button-type="icon" mdl-colored="primary"><mdl-icon>trending_flat</mdl-icon></button>

        </div>
      </div>

      <div class="service-list-item mdl-cell mdl-cell--4-col-tablet mdl-cell--4-col">
        <div class="technology-block np-text-color-default np-color-white" mdl-shadow="2">
          <!--h4 class="np-font-comfortaa np-font-bolder np-text-shadow">Hey!</h4-->
          <span class="technology-logo"><i class="icon-code socialicon np-text-color-dark np-text-shadow"></i></span>
          <h6 class="np-font-comfortaa">
            <!--span class="np-font-light">I'm </span-->Web Development</h6>
          <!--h6 class="np-font-open-sans np-text-shadow"> App &amp; web developer</h6-->
          <button mdl-button mdl-button-type="icon" mdl-colored="primary"><mdl-icon>trending_flat</mdl-icon></button>

        </div>
      </div>

    </div>
  </div>
</div>