footer{
  max-width: 900px;
  margin: auto;

  .mdl-mini-footer__link-list{
    margin: 0 auto;
  }
  .social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; 
}
  
.social li {
    display: inline-block;
    margin: 5px 15px; 
}

.social li button .socialicon{
   font-size: 20px;
   display: block;
}

.social li button {
      width: 45px;
      height: 45px;
}

 @media (max-width: 767px) {
  .social li {
    margin-left: 5px;
    margin-right: 5px; 
  }
  .social li button {
      width: 35px;
      height: 35px; 
  }
  /*
  .social li a, .social li a .socialicon {
        line-height: 35px; 
  }
  */
  .social li button .socialicon {
        font-size: 17px; 
  } 

}
}

@media (max-width: 767px){
footer{

  
    .mdl-mini-footer__right-section{
      margin: auto;
    }
    .mdl-mini-footer__left-section{
      margin: auto;
    }
  }
}


.np-flex-container{
list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
}

.npt-footer{
  margin: auto;
  align-items: center;
  flex-flow: row wrap;
  max-width: 900px;
  justify-content: space-between;

  .npt__link-list{
    margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; 
  li {
    display: inline-block;
    margin: 5px 15px; 
}
  }
.npt__left-section{
    order: 0;

  }
  .npt__right-section{
    order: 1;

  }
  
   .social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; 
}
  
.social li {
    display: inline-block;
    margin: 5px 15px; 
}

.social li button .socialicon{
   font-size: 20px;
   display: block;
}

.social li button {
      width: 45px;
      height: 45px;
}
}

 @media (max-width: 767px) {

   .npt-footer{
  
  
.npt__left-section{
    margin: auto;

  }
  .npt__right-section{
    margin: auto;

  }
  .social li {
    margin-left: 5px;
    margin-right: 5px; 
  }
  .social li button {
      width: 35px;
      height: 35px; 
  }
  /*
  .social li a, .social li a .socialicon {
        line-height: 35px; 
  }
  */
  .social li button .socialicon {
        font-size: 17px; 
  } 

}
 
}