
/*
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; 
}
  
.social li {
    display: inline-block;
    margin: 5px auto; 
}

.social li button .socialicon {
        font-size: 17px; 
  } 


.social li button {
      width: 36px;
      height: 36px; 
  }
  */

 
  /*
  .social li a, .social li a .socialicon {
        line-height: 35px; 
  }
  */
  
