.card-product{

    .product{
        flex-flow: row wrap;
        align-items: stretch;
        padding: 0;
        margin: 0;
        min-height: 200px;
        
        .product-info{
            order: 0;
            padding: 24px;
            box-sizing: border-box;
            h6,h4,p{
                margin: 0;
                line-height: 1.3;
            }
            .product-features{
                ul{
                    margin-top: 0px;
                }
            }
            .product-company{
                
                img{
                    height:40px;
                    width: auto;
                }
                h4{
                    display: inline-block;
                }
            }
        }

        .product-canvas{
            flex-grow: 1;
            box-sizing: border-box;
            min-width: 300px;
            .avatar{
                
                height: auto;
                width: 100%;
                img{
                    max-height: 500px;
                    height: auto;
                    max-width:100%;
                    width:auto;
                    margin: auto;
                }
            }
        }
    }

}


@media screen and (max-width: 660px) {
    .card-product{

        .product{
        
            .product-info{
                padding: 20px;
                order: 1;
                flex-grow: 1;        
            }

            .product-canvas{
                flex-grow: 1;
                order: 0;
                
                .avatar{

                    img{
                        max-height: 400px;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 660px) {
    .card-product{

        .product{
        
            .product-info{
                width: 300px;     
            }
             .product-canvas{
                .avatar{
                    min-height: 300px;
                }
            }
        }
    }
}