/******************************************
 *                        Footer
 */
.footer{
        border-top: 1px solid #dedede;
}
.footer-content{
  padding: 12px;
  margin: auto;
  align-items: center;
  flex-flow: row wrap;
  max-width: 900px;
  justify-content: space-between;

  .footer-link-list{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; 
    li {
      display: inline-block;
      margin: 6px 8px;
    }
  }
  .footer-left-section{
      order: 0;

  }
  .footer-right-section{
    order: 1;
  }
  
  .social {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; 
  }
    
  .social li {
      display: inline-block;
      margin: 4px 6px; 
  }

  .social li button .socialicon{
    font-size: 18px;
    display: block;
  }

  .social li button {
        width: 40px;
        height: 40px;
  }
}

 @media (max-width: 767px) {

   .footer-content{
     padding: 4px 0;
      .footer-left-section{
          margin: auto;
      }
      .footer-right-section{
        margin: auto;

      }
      .social li {
        margin-left: 4px;
        margin-right: 4px; 
      }
      .social li button {
        font-size: 14px;
          width: 32px;
          height: 32px; 
      }
      /*
      .social li a, .social li a .socialicon {
            line-height: 35px; 
      }
      */
      .social li button .socialicon {
            font-size: 16px; 
      } 

    }
}