<!--home-view id="home">
</home-view>
<portfolio-view id="portfolio"></portfolio-view>
<about-view id="about"></about-view>
<contact-view id="contact"></contact-view-->



<footer class="mdl-color--blue-grey-800 footer">
    <div class="footer-content np-flex-container ">
        <div class="footer-left-section">
            <ul class="footer-link-list font-comfortaa">
                <li><a>About</a></li>
                <li><a>|</a></li>
                <li><a>Contact</a></li>
            </ul>

        </div>

        <div class="footer-right-section">
            <ul class="social">
                <li>
                    <button (click)="onClickOpenlink(_mSocialLink.github)" mdl-button mdl-button-type="icon">
                        <i class="icon-github-circled socialicon np-text-color-white"></i>
                    </button>
                </li>
                <li>
                    <button (click)="onClickOpenlink(_mSocialLink.linkedIn)" mdl-button mdl-button-type="icon">
                        <i class="icon-linkedin socialicon np-text-color-white"></i>
                    </button>
                </li>
                <li>
                    <button (click)="onClickOpenlink(_mSocialLink.instagram)" mdl-button mdl-button-type="icon">
                        <i class="icon-instagram socialicon np-text-color-white"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</footer>