$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;


$assets-root: 'assets/';
$images-root: $assets-root + 'img/';
$fonts-root: $assets-root + 'fonts/';

$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 600;
$font-bolder: 700;
$font-ultraBold: 900;

$np-color-primary : unquote("rgb(#{$color-primary})") !default;
$np-color-primary-50 : white !default;
$np-color-back-grey : #dfdfdf !default;
$np-color-grey-default: $list-supporting-text-text-color;
$np-color-grey-dark: $default-item-text-color;
$np-color-accent : unquote("rgb(#{$color-accent})") !default;


$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-28: 28px;
$font-32: 32px;
$font-36: 36px;

$font-open-sans: 'Open Sans', sans-serif;
$font-comfortaa: 'Comfortaa', cursive;