$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;


$assets-root: 'assets/';
$images-root: $assets-root + 'img/';
$fonts-root: $assets-root + 'fonts/';