<div class="np-color-grey">
    <div class="np-layout-content">
        <div class="profile np-container np-color-white" mdl-shadow="2">

            <div class="mdl-grid profile-content">

                <div class="mdl-cell mdl-cell--6-col-tablet mdl-cell--4-col">
                    <div class="profile-info np-text-color-dark">
                        <!--h4 class="np-font-comfortaa np-font-bolder np-text-shadow">Hey!</h4-->
                        <h4 class="np-font-comfortaa np-font-bolder np-text-shadow">
                            <!--span class="np-font-light">I'm </span-->Niraj Prakash</h4>
                        <!--h6 class="np-font-open-sans np-text-shadow"> App &amp; web developer</h6-->
                        <h6 class="np-font-open-sans np-font-bold np-font-10">Android &amp; Full Stack Developer</h6>
                    </div>
                </div>
                <div class="profile-detail mdl-cell mdl-cell--12-col">

                    <p class="np-text-color-default np-font-open-sans np-font-14">Hello! I’m Niraj Prakash. Senior Web Developer specializing in front end development. Experienced with
                        all stages of the development cycle for dynamic web projects. Well-versed in numerous programming
                        languages including JavaScript, SQL, and C. Stng background in project management and customer relations.</p>
                </div>
            </div>
            <div class="profile-bottom np-layout-primary">
                <ul class="social">
                    <li>
                        <button mdl-button mdl-button-type="icon">
                        <i class="icon-github-circled socialicon white"></i>
                    </button>
                    </li>
                    <li>
                        <button mdl-button mdl-button-type="icon">
                        <i class="icon-bitbucket socialicon white"></i>
                    </button>
                    </li>
                    <li>
                        <button mdl-button mdl-button-type="icon">
                        <i class="icon-linkedin socialicon white"></i>
                    </button>
                    </li>
                    <li>
                        <button mdl-button mdl-button-type="icon">
                        <i class="icon-instagram socialicon white"></i>
                    </button>
                    </li>
                    <li>
                        <button mdl-button mdl-button-type="icon">
                        <i class="icon-behance socialicon white"></i>
                    </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="np-padding-v-8 np-margin-top-32">

        <div class="profile-action np-font-open-sans">
            <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple><span class="np-font-open-sans np-font-12">See Portfolio</span></button>

            <button mdl-button mdl-colored="primary" mdl-ripple><span class="np-font-open-sans np-font-12 np-font-bold">Download CV</span></button>
        </div>

    </div>

    <div class="service np-color-grey">
        <div class="title">
            <h6 class="np-font-comfortaa np-text-shadow np-text-color-dark"><span class="np-underline-small-primary">Services</span></h6>
        </div>
        <div class="np-container-large np-padding-bottom-32">
            <div class="mdl-grid">

                <div class="service-list-item mdl-cell mdl-cell--4-col-tablet mdl-cell--4-col">
                    <div class="service-block np-padding-16 np-text-color-default np-hover-change-to-primary np-hover-up">
                        <div class="service-logo np-margin-bottom-16"><i class="icon-mobile socialicon np-text-color-primary np-font-24 np-text-shadow"></i></div>
                        <h6 class="np-font-comfortaa np-font-bold np-font-12 np-text-color-grey-dark-extra">Android App Development</h6>
                        <p class="np-font-open-sans np-font-bold">Hybrid/Native App, Backward Support upto v4.1</p>
                        <!--button mdl-button mdl-button-type="icon" mdl-colored="primary"><mdl-icon>trending_flat</mdl-icon></button-->
                    </div>
                </div>

                <div class="service-list-item mdl-cell mdl-cell--4-col-tablet mdl-cell--4-col">
                    <div class="service-block np-padding-16 np-text-color-default np-hover-change-to-primary np-hover-up">
                        <div class="service-logo np-margin-bottom-16"><i class="icon-code socialicon np-text-color-primary np-font-24 np-text-shadow"></i></div>
                        <h6 class="np-font-comfortaa np-font-bold np-font-12 np-text-color-grey-dark-extra">Web Development</h6>
                        <p class="np-font-open-sans np-font-bold">Responsive Web Design, Multi-platform Support</p>
                        <!--button mdl-button mdl-button-type="icon" mdl-colored="primary"><mdl-icon>trending_flat</mdl-icon></button-->
                    </div>
                </div>


                <div class="service-list-item mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col">
                    <div class="service-block np-padding-16 np-text-color-default np-hover-change-to-primary np-hover-up">
                        <div class="service-logo np-margin-bottom-16"><i class="icon-server socialicon np-text-color-primary np-font-24 np-text-shadow"></i></div>
                        <h6 class="np-font-comfortaa np-font-bold np-font-12 np-text-color-grey-dark-extra">Backend Development</h6>
                        <p class="np-font-open-sans np-font-bold">Web Servers, Databases, APIs and services</p>
                        <!--button mdl-button mdl-button-type="icon" mdl-colored="primary"><mdl-icon>trending_flat</mdl-icon></button-->
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="np-container-large">
    <np-technology-view></np-technology-view>
    </div>
    <footer class="mdl-color--white">
        <div class="footer-content np-flex-container ">
            <div class="footer-left-section">
                <ul class="footer-link-list font-comfortaa">
                    <li><a>About</a></li>
                    <li><a>|</a></li>
                    <li><a>Contact</a></li>
                </ul>

            </div>

            <div class="footer-right-section">
                <ul class="social">
                    <li>
                        <button mdl-button mdl-button-type="icon">
                        <i class="icon-github-circled socialicon np-text-color-gethub"></i>
                    </button>
                    </li>
                    <li>
                        <button mdl-button mdl-button-type="icon">
                        <i class="icon-bitbucket socialicon np-text-color-bitbucket"></i>
                    </button>
                    </li>
                    <li>
                        <button mdl-button mdl-button-type="icon">
                        <i class="icon-linkedin socialicon np-text-color-linkedin"></i>
                    </button>
                    </li>
                    <li>
                        <button mdl-button mdl-button-type="icon">
                        <i class="icon-instagram socialicon np-text-color-instagram"></i>
                    </button>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>