<div class="np-color-white">


    <div class="top-wall">
        <div class="np-container-large">
            <div class="np-flex-wrapper wall-frame">
                <div class="wall-tag np-flex-wrapper np-flex-column">
                    <mdl-layout-spacer></mdl-layout-spacer>
                    <div class="wall-tag-inner">
                        <span class="wall-text"><h4 class="np-font-comfortaa">Draw, Design, Develop</h4></span>
                    </div>
                </div>

                <div class="wall-info">
                    <div class="wall-info-inner np-flex-wrapper np-flex-column np-text-color-white">
                        <span class="wall-text np-margin-bottom-12"><h6>Expertise In</h6></span>
                        <span class="wall-text np-margin-bottom-8"><p>Android</p></span>
                        <span class="wall-text np-margin-bottom-8"><p>Web</p></span>
                        <span class="wall-text np-margin-bottom-8"><p>clouds</p></span>
                        <mdl-layout-spacer></mdl-layout-spacer>
                        <span class="wall-text">
                        <button class="btn-dawnload-portfolio np-text-color-white" mdl-button mdl-ripple>download Portfolio</button>
                    </span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="service">
        <div class="title">
            <h6 class="np-font-comfortaa np-text-shadow np-text-color-dark"><span class="np-underline-small-primary">Services</span></h6>
        </div>
        <div class="np-container-large np-padding-bottom-32">
            <div class="mdl-grid">

                <div class="service-list-item mdl-cell mdl-cell--4-col-tablet mdl-cell--4-col">
                    <div class="service-block np-padding-16 np-text-color-default np-hover-change-to-primary np-hover-up">
                        <div class="service-logo np-margin-bottom-16"><i class="icon-mobile socialicon np-text-color-primary np-font-24 np-text-shadow"></i></div>
                        <h6 class="np-font-comfortaa np-font-bold np-font-12 np-text-color-grey-dark-extra">Android App Development</h6>
                        <p class="np-font-open-sans np-font-bold">Hybrid/Native App, Backward Support upto v4.1</p>
                        <!--button mdl-button mdl-button-type="icon" mdl-colored="primary"><mdl-icon>trending_flat</mdl-icon></button-->
                    </div>
                </div>

                <div class="service-list-item mdl-cell mdl-cell--4-col-tablet mdl-cell--4-col">
                    <div class="service-block np-padding-16 np-text-color-default np-hover-change-to-primary np-hover-up">
                        <div class="service-logo np-margin-bottom-16"><i class="icon-code socialicon np-text-color-primary np-font-24 np-text-shadow"></i></div>
                        <h6 class="np-font-comfortaa np-font-bold np-font-12 np-text-color-grey-dark-extra">Web Development</h6>
                        <p class="np-font-open-sans np-font-bold">Responsive Web Design, Multi-platform Support</p>
                        <!--button mdl-button mdl-button-type="icon" mdl-colored="primary"><mdl-icon>trending_flat</mdl-icon></button-->
                    </div>
                </div>


                <div class="service-list-item mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col">
                    <div class="service-block np-padding-16 np-text-color-default np-hover-change-to-primary np-hover-up">
                        <div class="service-logo np-margin-bottom-16"><i class="icon-server socialicon np-text-color-primary np-font-24 np-text-shadow"></i></div>
                        <h6 class="np-font-comfortaa np-font-bold np-font-12 np-text-color-grey-dark-extra">Backend Development</h6>
                        <p class="np-font-open-sans np-font-bold">Web Servers, Databases, APIs and services</p>
                        <!--button mdl-button mdl-button-type="icon" mdl-colored="primary"><mdl-icon>trending_flat</mdl-icon></button-->
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="np-container-large">
        <np-technology-view></np-technology-view>
    </div>
</div>