

/*

.profile-card  img{
  max-width: 100%;

}
*/

.profile{
/*
 max-width: 900px;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
  */
  .profile-content{
    padding: 57px 50px 15px 50px;
  }
  .profile-photo {
      padding-right: 5%;
      margin-bottom: 10px;
  }

  .profile-photo img{
    width: 100%;
    display: block;
  }

  .profile-info{
    color: #3d4451;
    padding-bottom: 12px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dedede;

    h4,h6{
      margin: 0;
      line-height: 1.2;
    }
    p{
      font-size:10px;
    }
  }
  .profile-detail{
    p{
      margin: 5px 0px 5px 0px;
      .icon{
        float: left;
        font-size: 20px;
        line-height: 1.1;
      }
      
      .content{
        margin-left: 8px;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2;
      } 
    }

  }
  
}


@media (max-width: 992px) {
  
  .profile {
    .profile-content {
      padding: 50px 40px 15px 40px; 
    }
    .profile-photo {
      padding-right: 0;
      margin-bottom: 30px; 
    } 
  }
}
@media (max-width: 767px) {
 .profile{
   .section-about {
      padding-top: 0; 
    }

    .profile-content {
        padding: 30px 20px 15px 20px; 
    }
 }
}

.profile-action{
    margin: 40px auto;
    flex-shrink: 0;
    text-align: center;

    button{
      margin: 12px 20px;
    }

}

@media (max-width: 767px) {

.profile-action{
  button{
      margin: 5px 5px;
    }
  }
}

/**.profile-card-content{
  width: 100%;
}

.profile-card .profile-bottom{
  width: 100%;

}
/**
.profile-card .social{
  list-style: none;
  float: left;
  padding: 0;

  
}

.profile-card .social li{
  list-style: none;
  float: left;

}

*/
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; 
}
  
.social li {
    display: inline-block;
    margin: 5px 15px; 
}

.social li button .socialicon{
   font-size: 20px;
   display: block;
}

.social li button {
      width: 45px;
      height: 45px;
}

 @media (max-width: 767px) {
  .social li {
    margin-left: 5px;
    margin-right: 5px; 
  }
  .social li button {
      width: 35px;
      height: 35px; 
  }
  /*
  .social li a, .social li a .socialicon {
        line-height: 35px; 
  }
  */
  .social li button .socialicon {
        font-size: 17px; 
  } 

}

.service{

    .title{
        padding: 28px 0 28px 0;
        text-align: center;
    }

    .service-list-item{
        text-align: center;
    }
    .service-block{
        text-align: center;
        max-width: 212px;
        margin: 4px auto;
           
        .socialicon{
            margin: 20px 0 18px 0;
            font-size: 24px;
        }

        button{
            margin: 14px 0 16px 0;
        }


        mdl-icon{            
            font-size: 14px;
        }
        

        h6{
            font-size: 12px;
            margin: 0 10px 0;
            line-height: 1.2;
        }

        p{
            font-size:10px;
        }

       /* &:hover{
            background:rgba(255,255,255,1);
            border-radius: 2px;
            color: rgba(0,0,0,0.54);
            box-shadow: 0 2px 4px rgba(0,0,0,0.15);
        }*/

    }

}

/**
 * 6.3 - Social
 */
/*
.social li a {
      width: 45px;
      height: 45px;
      position: relative;
      display: inline-block;
      background-color: transparent;
      -webkit-transition: -webkit-transition, background-color 0.25s linear 0s;
      -moz-transition: -moz-transition, background-color 0.25s linear 0s;
      transition: transition, background-color 0.25s linear 0s;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
      .social li a:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.1); }
      .social li a, .social li a .socialicon {
        line-height: 45; }
      .social li a .socialicon {
        color: #fff;
        font-size: 20px;
        line-height: 45px;
        display: block; }

@media (max-width: 767px) {
  .social li {
    margin-left: 5px;
    margin-right: 5px; }
    .social li a {
      width: 35px;
      height: 35px; }
      .social li a, .social li a .socialicon {
        line-height: 35px; }
      .social li a .socialicon {
        font-size: 17px; } }
        */

