<mdl-layout mdl-layout-no-drawer-button mdl-layout-fixed-header mdl-layout-header-seamed mdl-layout-mode="waterfall" #mainLayout="mdlLayout">
    <mdl-layout-header class="main-header" npWaterfall="{{_mToolbarOffset}}" npWaterfallActive="np-shadow-card" npWaterfallReference="main-page">
        <mdl-layout-header-row class="main-header-row" >

            <mdl-layout-title class="np-text-color-grey-dark-extra np-font-open-sans">{{title}}</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="np-font-open-sans mdl-navigation mdl-layout--large-screen-only">
                <a class="np-cursor mdl-navigation__link" (click)="onClickNav(idNavHome)" inpageLink="home" inpageLinkActive="indicator-primary-important np-text-color-important-primary">Home</a>
                <a class="np-cursor mdl-navigation__link" (click)="onClickNav(idNavPortfolio)" inpageLink="portfolio" inpageLinkActive="indicator-primary-important np-text-color-important-primary">Portfolio</a>
                <a class="np-cursor mdl-navigation__link" (click)="onClickNav(idNavAbout)" inpageLink="about" inpageLinkActive="indicator-primary-important np-text-color-important-primary">About</a>
                <a class="np-cursor mdl-navigation__link" (click)="onClickNav(idNavContanct)" inpageLink="contact" inpageLinkActive="indicator-primary-important np-text-color-important-primary">Contact</a>
            </nav>
        </mdl-layout-header-row>
    </mdl-layout-header>

      <mdl-layout-drawer class="np-drawer np-color-primary np-text-color-primary-light">
        <header class="nav-header np-shadow-inner">
            <div class="mdl-layout-spacer"></div>
            <div class="nav-avatar-container">
            <img src="/assets/img/avatar.jpg" class="nav-avatar">
            </div>
            <div class="np-text-align-center">
                <h6 class="nav-title np-font-comfortaa">Niraj Prakash</h6>
                <p class="nav-subtitle np-font-open-sans np-font-light np-font-12">Android &amp; Full Stack Developer</p>
            </div>
        </header>

        <nav class="np-navigation mdl-navigation np-font-open-sans np-font-light np-color-white mdl-color-text--grey-800">
            <a class="mdl-navigation__link np-selector-text-grey-to-primary" (click)="onClickNavDrawer(idNavHome)" inpageLink="home" inpageLinkActive="np-text-color-important-primary  mdl-color--grey-50"><mdl-icon class="np-margin-right-24 np-font-20">home</mdl-icon>Home</a>
            <a class="mdl-navigation__link np-selector-text-grey-to-primary" (click)="onClickNavDrawer(idNavPortfolio)" inpageLink="portfolio" inpageLinkActive="np-text-color-important-primary  mdl-color--grey-50"><mdl-icon class="np-margin-right-24 np-font-20">description</mdl-icon>Portfolio</a>
            <a class="mdl-navigation__link np-selector-text-grey-to-primary" (click)="onClickNavDrawer(idNavAbout)" inpageLink="about" inpageLinkActive="np-text-color-important-primary  mdl-color--grey-50"><mdl-icon class="np-margin-right-24 np-font-20">perm_identity</mdl-icon>About</a>
            <a class="mdl-navigation__link np-selector-text-grey-to-primary" (click)="onClickNavDrawer(idNavContanct)" inpageLink="contact" inpageLinkActive="np-text-color-important-primary mdl-color--grey-50"><mdl-icon class="np-margin-right-24 np-font-20">contacts</mdl-icon>Contact</a>
            <div class="mdl-layout-spacer"></div>
            <div class="nav-bottom">
                <ul class="social">
                    <li>
                        <button mdl-button mdl-button-type="icon" class="np-selector-text-grey-to-primary">
                        <i class="icon-github-circled socialicon"></i>
                    </button>
                    </li>
                    <li>
                        <button mdl-button mdl-button-type="icon" class="np-selector-text-grey-to-primary">
                        <i class="icon-bitbucket socialicon"></i>
                    </button>
                    </li>
                    <li>
                        <button mdl-button mdl-button-type="icon" class="np-selector-text-grey-to-primary">
                        <i class="icon-linkedin socialicon"></i>
                    </button>
                    </li>
                    <li>
                        <button mdl-button mdl-button-type="icon" class="np-selector-text-grey-to-primary">
                        <i class="icon-instagram socialicon"></i>
                    </button>
                    </li>
                </ul>
            </div>
        </nav>
    </mdl-layout-drawer>
    <mdl-layout-content>
        <div class="main-content" id="main-page">

            <home-view id="home"></home-view>
            <portfolio-view id="portfolio" #portfolio></portfolio-view>
            <about-view id="about"></about-view>
            <contact-view id="contact"></contact-view>
            <footer-view id="footer"></footer-view>
        </div>
    </mdl-layout-content>
</mdl-layout>
<div *ngIf="mainLayout.isSmallScreen" class="np-drawer-button mdl-layout__drawer-button" mdl-ripple  (click)="mainLayout.toggleDrawer()">
    <mdl-icon class="np-text-color-dark">&#xE5D2;</mdl-icon>
</div>