
    <div class="np-layout-content">
        <div class="np-layout-container">
            <div class="card np-shadow-card">
             <button class="btn" mdl-ripple mdl-button  mdl-button-type="mini-fab"  mdl-colored="primary" >
                 <mdl-icon class="np-font-14">send</mdl-icon></button>
                 <div class="expanded-button">
                      <button  mdl-ripple mdl-button  mdl-button-type="fab"  mdl-colored="primary" >
                 </button>
                 </div>

            </div>

        </div>

    </div>

