.card{
    position: relative;
    max-width: 212px;
    margin: 4px;
    min-height: 264px;
    border-radius: 4px;
    .btn{
        
        position: absolute;
        right:    4px;
        bottom:   4px;

    }
   
}
 