/*.main-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

.router-outlet {
  flex-grow: 1;
  flex-shrink: 0;
}*/

.mdl-layout__container{
    position: static !important;
}