.router-outlet {
  flex-grow: 1;
  flex-shrink: 0;
}


main {
  display: flex !important;
  flex-direction: row;
}


.main-header{
  background-color: white;
}

.main-header-row .mdl-navigation__link {
    display: inline-block;
    height: 61px;
    line-height: 68px;
    color: #757575;
    background-color: transparent !important;
    border-bottom: 3px solid transparent;
  }
.main-header-row .is-active{
      border-bottom: 3px solid #000;
}

.main-footer {
  flex-grow: 1;
}

footer {
	z-index: 1;
  flex-shrink: 0;
  background: #37474f;
}



.app-main-content {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}




.icon svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}