.white{
    color: white;
}

.np-color-accent{
    background: $np-color-accent;
}
.np-color-primary{
    background: $np-color-primary ;
}

.np-color-important-primary{
    background: $np-color-primary !important;
}


.np-color-blue{
    background: unquote("rgb(#{$palette-blue-400;})");
}
.np-color-red{
    background: unquote("rgb(#{$palette-red-A700;})");
}

.np-color-white{
    background-color: white;
}

.np-color-grey{
    background-color: $np-color-back-grey;
}




.np-color-instagram{
    background: #D93175
}


.np-color-facebook{
    background: #4565A2;
}

.np-color-linkedin{
    background: #0077B5;
}

.np-color-bitbucket{
    background: #205081;
}

.np-color-github{
    background: #333333;
}