.white{
    color: white;
}

.color-accent{
    color: $np-color-accent;
}

.color-blue{
    color: unquote("rgb(#{$palette-blue-400;})");
}
.color-red{
    color: unquote("rgb(#{$palette-red-A700;})");
}