.np-padding-v-8{
  padding: 8px 0px;
}
.np-padding-20{
  padding: 20px;
}
.np-padding-16{
  padding: 16px;
}
.np-padding-12{
  padding: 12px;
}
.np-padding-8{
  padding: 8px;

}
.np-padding-top-16{
  padding-top: 16px;
}

.np-padding-bottom-32{
  padding-bottom: 32px;
}

.np-padding-bottom-16{
  padding-bottom: 16px;
}
.np-padding-bottom-12{
  padding-bottom: 12px;
}
.np-padding-bottom-8{
  padding-bottom: 8px;
}

.np-padding-bottom-4{
  padding-bottom: 4px;
}
.np-padding-bottom-2{
  padding-bottom: 2px;
}

.np-padding-left-16{
  padding-left: 16px;
}


.np-padding-left-12{
  padding-left: 12px;
}

.np-padding-left-8{
  padding-left: 8px;
}


.np-margin-top-1{
  margin-top: 1px;
}
.np-margin-top-2{
  margin-top: 2px;
}

.np-margin-top-32{
  margin-top: 32px;
}

.np-margin-bottom-64{
  margin-bottom: 64px;
}

.np-margin-bottom-40{
  margin-bottom: 40px;
}

.np-margin-bottom-32{
  margin-bottom: 32px;
}

.np-margin-bottom-20{
  margin-bottom: 20px;
}


.np-margin-bottom-16{
  margin-bottom: 16px;
}

.np-margin-bottom-12{
  margin-bottom: 12px;
}


.np-margin-bottom-8{
  margin-bottom: 8px;
}

.np-margin-bottom-4{
  margin-bottom: 4px;
}

.np-margin-right-24{
  margin-right: 24px;
}

.np-margin-right-12{
  margin-right: 12px;
}

.np-margin-left-12{
  margin-left: 12px;
}