.np-font-open-sans{
    font-family: $font-open-sans;
}
.np-font-comfortaa{
    font-family: $font-comfortaa;
}

.np-font-light{
    font-weight: $font-light;
}
.np-font-bold{
    font-weight: $font-bold;
}

.np-font-bolder{
    font-weight: $font-bolder;
}


.np-font-20{
    font-size: $font-20;
 }

.np-font-18{
    font-size: $font-18;
 }

.np-font-16{
    font-size: $font-16;
 }

.np-font-14{
    font-size: $font-14;
 }

.np-font-12{
    font-size: $font-12;
 }
 .np-font-10{
    font-size: $font-10;
 }