.font-open-sans{
    font-family: $font-open-sans;
}
.font-comfortaa{
    font-family: $font-comfortaa;
}

.font-light{
    font-weight: $font-light;
}
.font-bold{
    font-weight: $font-bold;
}

.font-bolder{
    font-weight: $font-bolder;
}

.font-12{
    font-size: $font-12;
 }
 .font-10{
    font-size: $font-10;
 }