
.np-layout-content{
    margin-top: 45px;
 padding: 8px 32px 8px 40px;
}

@media screen and (max-width: $resXS) {
  .np-layout-content {
    padding: 8px 20px;
  }
}

.np-padding-v-8{
  padding: 8px 0px;
}
.np-margin-top-32{
  margin-top: 32px;
}

.np-layout-primary{
    background: $np-color-primary;
}