@font-face {
  font-family: 'fontello';
  src: url('#{$fonts-root}fontello.eot?33717895');
  src: url('#{$fonts-root}fontello.eot?33717895#iefix') format('embedded-opentype'),
       url('#{$fonts-root}fontello.woff2?33717895') format('woff2'),
       url('#{$fonts-root}fontello.woff?33717895') format('woff'),
       url('#{$fonts-root}fontello.ttf?33717895') format('truetype'),
       url('#{$fonts-root}fontello.svg?33717895#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?33717895#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-bitbucket:before { content: '\f171'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */

.icon-server:before { content: '\f233'; } /* '' */

/**
.socialicon:empty {
  width: 1em;
}
*/

.socialicon{
   position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'socicon';
  font-style: normal;
  font-weight: $font-normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

}