.text-shadow{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.text-color-dark{
    color: $default-item-text-color;
}

.text-color-default{
   color: $list-supporting-text-text-color;
}
.text-color-important-default{
   color: $list-supporting-text-text-color !important;
}
.text-color-primary-light{
    color: $np-color-primary-50;
}

