/* You can add global styles to this file, and also import other style files */

@import "~@angular-mdl/core/scss/color-definitions";

$color-primary: 39,186,190;
//$color-primary: $palette-grey-50;
$color-primary-dark: 31,148,152;
$color-accent: $palette-blue-700;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

$np-color-primary-light: #a8e3e5;
$np-color-primary-50: #e9f8f8 !default;
$np-color-back-grey:  unquote("rgb(#{$palette-grey-50})");
$np-color-back-grey-dark: unquote("rgb(#{$palette-grey-700})");
$np-color-back-grey-dark-extra: unquote("rgb(#{$palette-grey-800})");
@import '~@angular-mdl/core/scss/material-design-lite';

@import '~@angular-mdl/popover/popover';
@import '~@angular-mdl/select/select';
@import '~@angular-mdl/datepicker/datepicker';


@import 'app/theme/theme';

@import 'app/theme/mdl-fix';
 
//cyan
//primary: 39,186,190
//priamry-dark: 31,148,152
//priamry-50 #e9f8f8

//red
//204, 0, 61
//163,0,48
//#F9E5EB

//teal
//0,122,125
//0,97,100
//#e5efef

//purple
//95,38,137
//76,30,109
//#efe9f3