/* You can add global styles to this file, and also import other style files */

@import "~@angular-mdl/core/scss/color-definitions";

$color-primary: $palette-purple-500;
//$color-primary: $palette-grey-50;
$color-primary-dark: $palette-purple-700;
$color-accent: $palette-green-A200;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

@import '~@angular-mdl/core/scss/material-design-lite';

@import '~@angular-mdl/popover/popover';
@import '~@angular-mdl/select/select';
@import '~@angular-mdl/datepicker/datepicker';


@import 'app/theme/theme';
