

.np-underline-small-primary{
    position: relative;
    padding-bottom: 12px;

          &:after {

              content: '';
              position:absolute;
              bottom:0;
              left: 30%;
              right: 30%;
              height: 2px;
              background:$np-color-primary;
              display:block;
          
        }
}

.np-underline-small-primary_all{
    position: relative;
    padding-bottom: 12px;

          &:after {

              content: '';
              position:absolute;
              bottom:0;
              left: 0%;
              height: 2px;
              background:$np-color-primary;
              display:block;
          
        }
}

.np-underline-small-primary_start_no_padding{
    position: relative;

          &:after {

              content: '';
              position:absolute;
              bottom:0;
              left: 0%;
              width: 20px;
              height: 2px;
              background:$np-color-primary;
              display:block;
          
        }
}

.np-underline-small-thin-primary_start_no_padding{
    position: relative;

          &:after {

              content: '';
              position:absolute;
              bottom:0;
              left: 0%;
              width: 40px;
              height: 1px;
              background:$np-color-primary;
              display:block;
          
        }
}

.np-cursor{
    cursor: pointer;
}