.np-selector-text-grey-to-primary{
    color: $np-color-grey-dark;
    &:hover{
        color: $np-color-primary !important;
    }
}

.np-selector-text-primary-light-to-white{
    color: $np-color-primary-light;
    &:hover{
        color: white !important;
    }
}