

.about-card{
    padding: 0;
    width: 100%;
    margin: 0 auto;
    flex-shrink: 0;
    
    .about-card-content{
        padding: 24px;
    }
    
    .avatar-container{
        img {
            width:100%;  
            max-width: 104px;
            height: auto;
            border-radius: 100%;
            box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.14), 
            0px 0px 11px 1px rgba(0,0,0,0.12);
        }
    }

    .about-info{
        color: #3d4451;

        h4,h6{
            margin: 0;
            line-height: 1.1;
        }
        p{
            font-size:12px;
        }
    }

    .about-subheader{
        margin: 4px 0px 2px 0px;
        p{
            line-height: 1.4;
            margin: 2px 0px 0px 0px;
        }
    }

    .about-detail{
        
        p{
            margin: 0;
            line-height: 1.3;
        }
    }


    .social {
        margin: 2px 0;
        padding: 0;
        list-style: none; 
    }
    
    .social li {
        display: inline-block;
        margin-left: 0px;
        margin-right: 2px; 
    }
    .social li button{
        width: 32px;
        height: 32px;        
    }
    .social li button .socialicon{
        font-size: 14px;
        display: block;
    }

}


.info-card{
    padding: 20px;
    .info-items{

        .tag{
            min-width: 200px;
        }
        p{
            font-size: 12px;
            margin: 0;
            line-height: 1.3;
        }

    }
}

@media screen and (max-width: 500px) {
    .info-card{
        padding: 20px;

        .info-items{

            .tag{
                min-width: 80px;
            }
            p{
                font-size: 10px;
                margin: 0;
                line-height: 1.3;
            }

        }
    }

}





