<div class="np-color-grey">

    <div class="np-layout-content np-gradient-primary-vertical">

        <div class="about-card np-container-large np-color-white np-color-white np-shadow-decent  np-margin-bottom-64">
            <div class="about-card-content mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--2-col np-margin-auto">
                    <!--div class="about-avatar np-flex-container">
                        <div class="avatar-container np-layout-align-middle">
                            <img src="assets/img/avatar.jpg">
                        </div>
                    </div-->
                    <div class="about-avatar np-flex-container np-margin-auto">
                        <div class="avatar-container np-layout-align-middle">
                            <img src="assets/img/avatar.jpg">
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--5-col-tablet mdl-cell--4-col about-info">
                    <div class=" ">
                        <div class="about-header np-padding-bottom-16">
                            <h4 class="np-text-color-dark np-font-comfortaa np-font-bolder"><span>Niraj Prakash</span></h4>
                            <!--h6 class="font-open-sans np-text-shadow "> App &amp; web developer</h6-->
                            <h6 class="mdl-color-text--grey-400 np-font-open-sans np-font-bold np-font-10"><span class="np-underline-small-primary_all">Android &middot; Website &middot; Server</span></h6>
                        </div>

                        <div class="about-subheader mdl-color-text--grey-400">
                            <p>
                                <mdl-icon class="np-layout-align-middle np-font-12 np-margin-right-12 np-text-color-primary">email</mdl-icon>nirajprakash13@gmail.com</p>
                            <p>
                                <mdl-icon class="np-layout-align-middle np-font-12 np-margin-right-12">location_on</mdl-icon>Koramangala, Bangalore, India</p>
                        </div>
                        <ul class="social">
                            <li>
                                <button mdl-button mdl-button-type="icon">
                        <i class="icon-linkedin socialicon np-text-color-linkedIn"></i>
                    </button>
                            </li>
                            <li>
                                <button mdl-button mdl-button-type="icon">
                        <i class="icon-instagram socialicon np-text-color-instagram"></i>
                    </button>
                            </li>

                            <li>
                                <button mdl-button mdl-button-type="icon">
                        <i class="icon-facebook socialicon np-text-color-facebook"></i>
                    </button>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col about-detail">
                    <p class="np-font-open-sans np-font-12 mdl-color-text--grey-400">Hello! I’m Android App and Web Developer specializing in front-end and back-end development. Experienced
                        with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming
                        languages including Java, TypeScript, JavaScript, SQL. Strong background in project management and
                        implemention.
                    </p>

                </div>
            </div>
        </div>

    </div>
</div>